#bg {no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  color: #442222;
  position: relative;
  top: -10px;
}
h3 {
  color:#f2f2f2;
  position: relative;
  top:-12px;
}
h2 {
  color: #f2f2f2;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top:80px;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  }
#nav2{
  width:100%;
  bottom:-1px;
  position: fixed;
  z-index:10px;
  height:40px;
}
#titleman {
  color: #442222;
  position: relative;
  text-shadow: 1px 1px 13px;
  top: -30px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body{
  background: -webkit-;
  background:;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
table{
  width:100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.tbl-header{
  background-color:#442222
}
 
.tbl-content{
  height: 220px;
  margin-top:0px;
  overflow:x;
  border:4px solid #442222;
  background-color:rgba(60,0,0,.4);
  
  
}
th{
  vertical-align:middle;
  padding:10px 10px;
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
  text-transform: uppercase;
}
td{
  padding:5px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 17px;
  border-bottom: solid 1px rgba(255,255,,0.1);
  font-style:;
  color:white;
}